<%# TODO: force user to sign in to view any pages other than welcome, sign-in, or sign-up %>
<div class="row">
  <div class="animated fadeInUp">
    <div class="homepage-title">
      <div class="small-12 large-6 small-centered large-centered columns">
        <div class="content-box">
            <h1 class="homepage-title-big small-3 large-6 small-centered large-centered">Kill all the Golfers?</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="animated fadeInUp">


  <% if !member_signed_in? %>
  <div class="column text-center small-12 large-6 small-centered large-centered">
      <a href= "/members/sign_in" >
        <div class="link-box-top"
          <ul class "link-ul">
            <li class="welcome-page-links"> Care to Sign In?  </li>
          </ul>
        </div>
      </a>

      <a href= "/members/sign_up" >
        <div class="link-box-bottom"
          <ul class "link-ul">
            <li class="welcome-page-links"> Register?  </li>
          </ul>
        </div>
      </a>
  <% else %>
    <br>
    <br>
    <br>
    <br>
    <div class="column text-center small-2 large-4 small-centered large-centered">
      <a href= "/members/sign_out" >
        <div class="link-box-bottom"
          <ul class "link-ul">
            <li class="welcome-page-links"> Sign Out?  </li>
          </ul>
        </div>
      </a>
  <% end %>
</div>
  </div>
</div>
