<div class="animated slideInRight">
    <div class="homepage-title">
      <div class="small-12 large-6 small-centered large-centered columns">
          <div class="content-box-form-title">
            <h1 class="homepage-title small-3 large-6 small-centered large-centered">About This App</h1>
          </div>
      </div>
    </div>
</div>
<br>
<br>

<div class="column text-center small-12 large-6 small-centered large-centered">
  <div class="teetimes-box">
    <p class="custom-text">This is where I would keep my about section...if I had one.</p>
  </div>
</div>
