<%# TODO: force user to sign in to view any pages other than welcome, sign-in, or sign-up %>

<div class="animated fadeIn">
  <div class="homepage-title-title">
    <div class="small-12 large-6 small-centered large-centered columns">
      <div class="content-box-title">
        <h1 class="homepage-title-title small-3 large-6 small-centered large-centered">Wecome to Gopher</h1>
      </div>
    </div>
  </div>
</div>




<div class="animated fadeInUp">
  <% if !member_signed_in? %>
  <br>
  <br>
  <div class="column text-center small-12 large-6 small-centered large-centered">
      <a href= "/members/sign_in" >
        <div class="custom-button"
          <ul class "link-ul">
            <li class="welcome-page-links"> Care to Sign In?  </li>
          </ul>
        </div>
      </a>

      <a href= "/members/sign_up" >
        <div class="custom-button"
          <ul class "link-ul">
            <li class="welcome-page-links"> Register?  </li>
          </ul>
        </div>
      </a>
  <% end %>
</div>
  <div class="bottom-please">
  <a href= "/pages/about" >
    <div class="custom-button"
      <ul class "link-ul">
        <li class="welcome-page-links"> About  </li>
      </ul>
    </div>
  </a>
  </div
</div>
  </div>
