body {
  background: url(background.jpg) no-repeat center center fixed;
}

/* TODO: decide where to keep files, in style.css or application.css */

.content-box {
  margin-top: 30%;
  background: rgba(0, 0, 0, .3);
  /*padding: 10px 10px 10px 10px;*/
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
}

.content-box-form {
  margin-top: 3%;
  background: rgba(0, 0, 0, .3);
  /*padding: 10px 10px 10px 10px;*/
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
}

.content-box-form-test {
  margin-top: 5%;
  background: rgba(0, 0, 0, .3);
  /*padding: 10px 10px 10px 10px;*/
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
}

.content-box-form-title {
  margin-top: 10%;
  background: rgba(0, 0, 0, .3);
  /*padding: 10px 10px 10px 10px;*/
  border-color: rgb(255, 255, 255);
  border-style: solid;
}

.top-bar {
  padding: 0vw;
  margin: 0px;
  background: rgba(0, 0, 0, .7);
  border-bottom-color: rgba(255, 255, 255, 1);
  font-size: 125%;
  border-bottom-style: solid;
  color: white;
  font-family: 'Pacifico', cursive;
}

.top-bar-title {
  color: white;
  font-family: 'Pacifico', cursive, !important;
  font-size: 150%;
}

/*// Height and margin
$topbar-height: rem-calc(45);
$topbar-margin-bottom: 0;*/


/* TODO: fix top bar margin issue */
.menu-text {
  font-family: 'Pacifico', cursive;
  font-size: 175%;
}

.menu-vertical {
  font-size: 125%, !important;
  background-color: rgba(0, 0, 0, .5);
}



/*will push the whole thing down (including dividers if present)*/

/*.top-bar-section ul li a{margin-top :15px}
will just target the text as you asked - i.e. it will leave dividers in place with no top margin*/

a {
  /*font-family: 'Roboto Slab', serif;*/
  color: white;
}

.top-bar ul {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  margin-top: 9px;
}

.content-box:hover {
  background: rgba(46, 44, 45, .6);
}

.link-box-top {
  margin-top: 25%;
  background: rgba(0, 0, 0, .3);
  /*border-radius: 50px;*/
  /*padding: 10px 10px 10px 10px;*/
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
}

.link-box-bottom {
  margin-top: 5%;
  background: rgba(0, 0, 0, .3);
  /*border-radius: 50px;*/
  /*padding: 10px 10px 10px 10px;*/
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  font-family: 'Roboto Slab', serif;
  color: white;
  list-style-type: none;
}

.link-box-top:hover {
  background: rgba(46, 44, 45, .6);
}

.link-box-bottom:hover {
  background: rgba(46, 44, 45, .6);
}

.custom-text {
  font-family: 'Roboto Slab', serif;
  color: white !important;
  list-style-type: none;
}

.homepage-title {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Pacifico', cursive;
  color: white;
  display: inline;
  text-align: center;
  margin-bottom: 5px;
}

.lable {
  color: white !important;
}

.link-ul {
  display: inline-block;
}

.welcome-page-links {
  font-family: 'Roboto Slab', serif;
  color: white;

  display: inline-block;
}

.form-links {
  font-family: 'Roboto Slab', serif;
  color: white;

  display: inline-block;
}
